.nav-side-bar {
  display: flex;
  white-space: nowrap;
  position: sticky;
  top: 0;
  margin: 0 2rem;
  padding: 1rem 0;
  flex-direction: column;

  &__list {
    list-style: none;

    &-item {
      padding: 0.5rem;
      cursor: pointer;

      &-active {
        color: $primary-color;
        background-color: #dfa02311;
        border-radius: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-side-bar {
    display: flex;
    overflow: hidden;
    margin: 0;
    flex-direction: row;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    &__list {
      display: flex;
    }
  }
}