.toolbar-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $bg-dark;
  cursor: pointer;
  text-align: center;
  &__logo-image {
  }
}