.toolbar-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: $bg-dark;
  cursor: pointer;
  
  &__logo-image {
    padding-top: 0.5rem;
  }
}