.content {
    &-container {
    max-width: $max-width;
    margin: 0 auto;
  }

  &-block {
    display: flex;
    flex-direction: column;

    &__title {
      text-align: center;
      padding: 2rem;
      font-size: 2rem;
      
      color: $primary-color;

      & h2 {
        font-size: 2rem;


      }
      @media screen and (min-width: $bp-600) {
        & h2 {
          font-size: 1.5em;
  
  
        }
      }
    }

    &__content {
      &-text {
        line-height: 1.5;
        padding: 1rem 1rem;
        &--center {      
          text-align: center;
        }
        &-header {
          font-size: 2rem;
          color: $primary-color;
        }
      }
      &-image {
        
        //border-radius: 6px;
        display: flex;
        width: 100%;
        height: auto;
  
        &-container {
          display: flex;
          align-items: center;
          padding-bottom: 1rem;
        }
      }

      p {
        padding-bottom: 1rem;
      } 
    }
  }
}

.mb-1{
  margin-bottom: 1rem;
}

.ptb-1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.highlight-text{
  background-color: $primary-color
}

.button {
  &-primary {
    padding: 1rem;
    border-radius: 6px;
    color: $primary-color;
    background-color: #dfa02311;
  }
}