.menu-group {
  padding-top: 2rem;
  width: 100%;
  max-width: 960px;

  &--hidden {
    display: none;
  }

  &-title {
    margin-bottom: 1rem;
  }

  h2,
  h3,
  h5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__anchor-element {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
  }

  &_grid-view {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .menu-group {
    padding-top: 1rem;

    &_grid-view {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
    }

  }


}